.menu{

	font-weight:bold;
	font-size:0.8em;
    width:300px;
	background:#131313;
	position:relative;
	text-align:center;
	margin: 51px 0px;
}
.menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}
.menu li {
	display: block;
	padding:15px 0 15px 0;
	border-bottom:#1d1f20 1px solid;
	}
.menu li:hover{
	display: block;
	background:#181818;
	padding:15px 0 15px 0;
	border-bottom:#1d1f20 1px solid;
}
.menu ul li a {
 text-decoration:none;
 margin: 0px;
 color:#fff;}
.menu ul li a:hover {
 color: #fff;
 text-decoration:none;
}
.menu a{
	text-decoration:none;
	color:white;
}
.menu a:hover{
	text-decoration:none;
	color:white;
}